*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

@font-face {
  src: url("./assets/fonts/Lato-Regular.ttf");
  font-family: "Lato";
  font-weight: 400;
}

@font-face {
  src: url("./assets/fonts/Lato-Light.ttf");
  font-family: "Lato";
  font-weight: 300;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
